.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(.../../../../assets/fondo.webp); */
  background-color: #f3f3f3;
  min-height: 100vh;
  text-align: center;
}
