@font-face {
  font-family: "Font";
  src: url("../../fonts/Lemon\ Love.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Font2";
  src: url("../../fonts/coolvetica\ rg\ it.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 20rem;
  text-align: center;
}
.item__container1 {
  background-color: #f4f4f8;
  border: 3px solid #28afb0;
  box-shadow: 1px 3px #5aca09;
  padding: 15px;
  border-radius: 15%;
  width: 25rem;
  height: 26rem;
}
.item__container__h2 {
  font-family: "Font";
  color: black;
  text-decoration: none;
}
.item__container__h3 {
  font-family: "Font2";
}
.bnt__borrar {
  background-color: #f4f4f8;
  border: 3px solid #28afb0;
  box-shadow: 1px 2px #5aca09;
  border-radius: 25%;
  padding: 0.5rem;
}
.bnt__borrar:hover {
  transition: transform 1.5s;
  transform: scale(1.2);
  cursor: pointer;
}
.section__cart {
  align-self: flex-start;
}
.cart__card__img {
  width: 11rem;
  height: 11rem;
  border-radius: 25%;
  margin-bottom: 1rem;
  border: 3px solid #28afb0;
  box-shadow: 1px 3px #5aca09;
}
