@font-face {
  font-family: "Font";
  src: url("../../fonts/Lemon\ Love.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Font2";
  src: url("../../fonts/coolvetica\ rg\ it.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.ItemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  min-height: 100vh;
  text-align: center;
}
.ItemDetail__card {
  background-color: #f4f4f8;
  border: 6px solid #28afb0;
  box-shadow: 2px 3px #5aca09;
  margin: 10px 10px;
  padding: 15px;
  border-radius: 15%;
  width: 40rem;
  height: 40rem;
}
.detail__h2 {
  font-family: "Font";
  text-decoration: none;
}
.detail_h3 {
  font-family: "Font2";
}
