.carrito {
  display: flex;
  margin-top: 3rem;
  flex-direction: row-reverse;
  width: 4rem;
  height: 4rem;
}
.carrito:hover {
  transition: transform 1.5s;
  transform: scale(1.2);
  cursor: pointer;
}
.logo {
  width: 2.5rem;
  height: 3rem;
  margin-right: 1rem;
}
.logo__contador {
  z-index: 1;
  position: absolute;
  padding: 1px 5px;
  font-size: medium;
  border-radius: 50%;
  text-shadow: 1px 1px #000000;
  background-color: rgba(23, 177, 105, 1);
  box-shadow: 2px 1px 0px#000000;
}
.logo__contador__escondido {
  display: none;
}
@media (min-width: 320px) and (max-width: 540px) {
  .carrito {
    margin-top: 1rem;
    width: 5rem;
    height: 3rem;
  }
  .logo {
    max-width: 2rem;
  }
  .logo__contador {
    font-size: small;
  }
}
