@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

.list__container {
  background-image: url(.../../../../assets/fondo.webp);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__container__glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  min-width: 50rem;
  min-height: 20rem;
}
.list__container__h2 {
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px white;
  font-size: calc(20px + 2vmin);
  color: black;
}
