@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

.list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(.../../../../assets/fondo.webp); */
  background-image: linear-gradient(180deg, #8ec5fc 0%, #e0c3fc 100%);
  min-height: 100vh;
}

.list__container__catalogo {
  margin: 3rem 12rem;
}
