@font-face {
  font-family: "Font";
  src: url("../../fonts/Lemon\ Love.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Font2";
  src: url("../../fonts/coolvetica\ rg\ it.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.item__container {
  background-color: #f4f4f8;
  border: 3px solid #28afb0;
  box-shadow: 1px 3px #5aca09;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 15%;
  width: 20rem;
  height: 15rem;
}
.item__container__h2 {
  font-family: "Font";
  color: black;
  text-decoration: none;
}
.item__container__h3 {
  font-family: "Font2";
}
.item__container__img {
  max-width: 20rem;
  border-radius: 30%;
  border: 3px solid rgb(23, 177, 105);
}
