.App {
  text-align: center;
}

.App-header {
  display: flex;
  position: sticky;
  top: 0px;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0rem 3rem;
  background: rgba(89, 243, 81, 0.2);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(66, 244, 66, 0.3);
}

.App-link {
  color: #61dafb;
}

@media (min-width: 320px) and (max-width: 540px) {
  .App-header {
    padding: 1rem 0rem;
  }
}
