.App-header {
  display: flex;
  top: 0px;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0rem 3rem;
  background-color: #2d2d2d;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 540px) {
  .App-header {
    padding: 1rem 0rem;
  }
}
