.itemList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
}
.itemList__anexo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
